body{
  /*font-family: sans-serif, Calibri;*/
  /*font-family: "Georgia" , serif ;*/
  font-family: "Verdana", sans-serif;
  font-size: x-small;


}


.desktop{
  margin-left: 50px;
  margin-right: 50px;
}
.crossed_row {
  /*display: table-row;*/
  font-weight: normal;
  background-color: #f2f3f4 ;
  padding-bottom: 3px;
  border-style: solid;
  /*border-color: #0000ff;*/
  
  /*font-style: italic;*/

}
.crossed_row .company_url {
  color: gray;
  font-weight: normal;
}

.crossed_row .job_posting_url {
  color: gray;
}
.crossed_row .applic_table_date_cell {
  color: gray;
}

/*.applied thead {
  float: left;
}
.applied tbody tr {
  display: block;
  border: solid 1px gray;
}
.applied tbody tr td {
  display: block;
}
.crossed_row a {
  color: gray;
}*/
img{
  /*         [direction (inset)] [color] [Horizontal Distance] [Vertical Distance] [size]; 
*/
  box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
}
.row{
  /*display: table-row;*/
  display: block;
  padding-bottom: 3px;
  /*border-style: solid;*/
  /*border-color: #0000ff;*/
}
.applic_table_cell{
  /*display: table-cell;*/

  /*border-bottom-style: solid;*/
  /*border-width: 1px;*/
  /*border-bottom-color: lightgray;*/
}
.applic_table_edit_cell {
  float: right;
}
.applic_table_date_cell{
  /*display: table-cell;*/
  width: 100px;
  color: red;

/*  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: lightgray;*/
}
.applic_table_ivdate_cell{
  /*display: table-cell;*/
  width: 100px;
  color: red;
}
.applic_table_response_cell{
  /*display: table-cell;*/
  width: 100px;
}

.company_url {
  /*display: table-cell;*/
  /*width: 100px;*/
  color: green;
  font-weight: bold;
  /*font-size: 1.5em;*/
}


th {
  background-color: lightgray;
}